<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatis.mapper.VoiceMapper">
<!--    <cache></cache>-->
    <insert id="insert" >
        INSERT INTO `voice`( `voice`, `status`, `path`) VALUES ( #{voice.voice}, #{voice.status}, #{voice.path});
    </insert>

    <update id="updateVoiceById">
        UPDATE voice
        SET `status` = #{voice.status},
        srt = #{voice.srt}
        WHERE
            id = #{voice.id}
    </update>

    <select id="queryAll" resultType="com.example.mybatis.entity.Voice">
        SELECT * FROM `voice`
    </select>

    <select id="queryOneToTransForm" resultType="com.example.mybatis.entity.Voice">
        SELECT
            *
        FROM
            `voice`
        WHERE
            STATUS = '未转化'
        ORDER BY
            id
	LIMIT 1
    </select>


</mapper>
